.container1 {
  background-image: url("/agri.jpeg");
  background-size: contain;
  background-position: top;
  background: cover;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;

}


.hero {
  background: url('hero-image.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
}

.cta-button {
  background-color: #f60;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.content {
  padding: 20px;
  text-align: center;
}

.featured {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}